{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/searchpage.css' %}" rel="stylesheet">
</head>
<body>
    {% for message in messages %}
        <h6 style="color: red;font-size: 13px;">{{message}}</h6>
    {% endfor %}
    
    <div class="find">
        <div class="d-flex">
            <h4>Results for</h4>
            <div class="search-container" >
                <form action="{% url 'search'  %}" class="d-flex"  method="post">
                    {% csrf_token %}
                <input type="text" placeholder="search for user.." name="username">
                <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg></button>
                </form>
            </div>
        </div>
        
        {% for users in username_profile_list %}
        <div>
        <section>
            <a><img src="/accounts/{{users.profile_pic}}"></a>
            <div class="finduser">
                <h4></h4>
                <p><b><a href="{% url 'useracc' users.user %}">@{{users.user}}</a></b></p>
                <p>{{users.location}}</p>
                <p>{{users.bio}}</p>
            </div>
        </section>
        </div>
      
        {% endfor %}
    </div>
    
</body>
</html>